<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <title>Show Project</title>
    
</head>
<body style="background-color: darkgray">
    <div class="text-center">
        <div class="banner">
            <h2 class="header2">Welcome {{user.firstName}}!</h2>
            <h1 class="header">Project Manager</h1>
                <div>
                <a href="/dashboard"><input type="button" value="Dashboard" class="btn btn-outline-success me-2"></a>
                <a href="/new/project"><input type="button" value="Add Project" class="btn btn-outline-success me-2"></a>
                <a href="/logout"><input type="button" value="Logout" class="btn btn-outline-success me-2"></a>
                </div>
        </div><br/>
        <div class="container2">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Client</th>
                        <th>Job Name</th>
                        <th>Project Number</th>
                        <th>Project Manager</th>
                        <th>Project Engineer</th>
                        <th>Project Designer</th>
                        <th>CADD Lead</th>
                    </tr>
                </thead>
                <tbody>
                        <tr>
                            <td><font face="monospace" style=font-size:20px>{{project.client}}</font></td>
                            <td><font face="monospace" style=font-size:20px>{{project.jobName}}</font></td>
                            <td><font face="monospace" style=font-size:20px>{{project.projectNumber}}</font></td>
                            <td><font face="monospace" style=font-size:20px>{{project.projectManager}}</font></td>
                            <td><font face="monospace" style=font-size:20px>{{project.projectEngineer}}</font></td>
                            <td><font face="monospace" style=font-size:20px>{{project.projectDesigner}}</font></td>
                            <td><font face="monospace" style=font-size:20px>{{project.caddLead}}</font></td>
                        </tr>
                </tbody>
            </table>
            

            <div>
                <form action="/create/task" method="post">
                    <h2 class="header2">Add a Task</h2>
                    {% with messages = get_flashed_messages(category_filter=['tasks']) %}
                        {% if messages %}
                        <div>
                            <strong>Error!</strong>
                                {% for message in messages %}
                                <p>{{message}}</p>
                                {% endfor %}
                        </div>
                        {% endif %}
                    {% endwith %}
                    
            
                    <div class="container4">
                        <input type="hidden" name="project_id" value="{{project.id}}">
                        <div class="form-floating mb-3">
                            <input type="text" name="task" class="form-control" placeholder="Task">
                            <label for="task">Task:</label>
                        </div><br/>
                        
                        <input type="submit" value="Add Task" class="btn btn-outline-success me-2">
                            
                    </div>
                </form><br/>
                <div class="container3">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th><font face="monospace" style=font-size:20px>Tasks</font></th>
                                
                            </tr>
                        </thead>
                        <tbody>
                            {% for task in tasks %}
                                <tr>
                                    <td class="container3"><input type="checkbox" name="task"><label for="task" class="strikethrough"><font face="monospace" style=font-size:20px>{{task.task}}</font></label>  <a href="/destroy/task/{{task.id}}/project/{{task.project_id}}">Remove</a></td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>
</html>